* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 10px;
    background-color: #adadad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 10px;
}

form textarea {
    height: 100px;
}